nav{
    margin: 0 auto;
    max-width: 1440px;
}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 28px;
}
.logoIcon{
    width: 72px;
    height: 72px;
}
.cartIcon{
    height: 30px;
    width: 30px;
}
.navbar{
    gap: 15px;
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 1;
    display: none;
    background-color: rgba(73, 2, 70, 0.342);
    border-radius: 16px;
}
.navbar_mobile{
    display: none;
}
.navbar_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.navbar_links li{
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: black;
    cursor: pointer;
    list-style: none;
}
.catalogBtn{
    padding: 15px 30px;
    border: 2px solid #393;
    background: #393;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.logoDiv{
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartBtn{
    cursor: pointer;
    position: relative;
}
.cartProductCount{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #393;
    position: absolute;
    right: -5px;
    top: 0;
    width: 18px;
    height: 18px;
}
.navbar_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 430px;
    width: 100%;
}